.home , .archive , .upload{
    max-width: 1200px;
    margin: 0 auto;
}

.home h1 , .archive h1 , .upload h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.dump-view{
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    alig-items:center;
    justify-content: center;
    color: white;
}

.back-btn{
    position :fixed;
    top: 20px;
    left : 20px;
    z-index : 100;
    background : rgba(0,0,0,0.5);
    color: white;
    border: none;
    width:40px;
    height:40px;
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition:background 0.2s;
}
.back-btn:hover{
    background: rgba(0,0,0,0.8);
}